In [ ]:
import pandas as pd
import numpy as np

In [ ]:
## checking for missing values
df_maharastra=pd.read_csv('/content/Data_Gov_Maharashtra.csv',encoding='ISO-8859-1', low_memory=False)
df_Delhi=pd.read_csv('/content/Data_Gov_Delhi.csv',encoding='ISO-8859-1', low_memory=False)
df_Gujrat=pd.read_csv('/content/Data_Gov_Gujarat.csv',encoding='ISO-8859-1', low_memory=False)
df_Karanataka=pd.read_csv('/content/Data_Gov_Karnataka.csv',encoding='ISO-8859-1', low_memory=False)
df_Tamil_Nadu=pd.read_csv('/content/Data_Gov_Tamil_Nadu.csv',encoding='ISO-8859-1', low_memory=False)

print(df_Gujrat.columns)   #True/False per column.

Index(['te"', 'Company limited by Shares', 'Non-govt company', '23-08-2013',
       'Gujarat', '400000.00', '400000.00.1', '74140',
       'Real estate renting and business activities',
       'SHOP NO-F F-32,SHIDDHI CHAKRAOPP. VISHAT PETROL PUMP SABARMATI  ',
       'ROC AHMEDABAD', 'rakeshmalviya036@gmail.com', 'NA', 'NA.1'],
      dtype='object')

In [ ]:
# Droping the duplicate row if any according to unique CIN number
df_maharastra.drop_duplicates(subset='CORPORATE_IDENTIFICATION_NUMBER',inplace=True)
df_Delhi.drop_duplicates(subset='CORPORATE_IDENTIFICATION_NUMBER',inplace=True)

In [ ]:
print(df_maharastra.dtypes)
print(df_maharastra.dtypes)
print(df_Delhi.dtypes)
print(df_Tamil_Nadu.dtypes)
print(df_Karanataka.dtypes)
print(df_Gujrat.dtypes)

 by Shares"                                                object
Non-govt company                                           object
26-09-2011                                                 object
Maharashtra                                                object
100000.00                                                 float64
100000.00.1                                               float64
72900                                                      object
Real estate renting and business activities                object
111/9 ERANDAWANE, 201, ADHWAR14TH LANE, PRABHAT ROAD       object
ROC PUNE                                                   object
sbmujumdar@denetpl.com                                     object
31-03-2019                                                 object
31-03-2019.1                                               object
dtype: object
 by Shares"                                                object
Non-govt company                                           object
26-09-2011                                                 object
Maharashtra                                                object
100000.00                                                 float64
100000.00.1                                               float64
72900                                                      object
Real estate renting and business activities                object
111/9 ERANDAWANE, 201, ADHWAR14TH LANE, PRABHAT ROAD       object
ROC PUNE                                                   object
sbmujumdar@denetpl.com                                     object
31-03-2019                                                 object
31-03-2019.1                                               object
dtype: object
wow@womenonwalk.com"    object
NA                      object
NA.1                    object
dtype: object
CORPORATE_IDENTIFICATION_NUMBER            object
COMPANY_NAME                               object
COMPANY_STATUS                             object
COMPANY_CLASS                              object
COMPANY_CATEGORY                           object
COMPANY_SUB_CATEGORY                       object
DATE_OF_REGISTRATION                       object
REGISTERED_STATE                           object
AUTHORIZED_CAP                            float64
PAIDUP_CAPITAL                            float64
INDUSTRIAL_CLASS                           object
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN     object
REGISTERED_OFFICE_ADDRESS                  object
REGISTRAR_OF_COMPANIES                     object
EMAIL_ADDR                                 object
LATEST_YEAR_ANNUAL_RETURN                  object
LATEST_YEAR_FINANCIAL_STATEMENT            object
dtype: object
CORPORATE_IDENTIFICATION_NUMBER            object
COMPANY_NAME                               object
COMPANY_STATUS                             object
COMPANY_CLASS                              object
COMPANY_CATEGORY                           object
COMPANY_SUB_CATEGORY                       object
DATE_OF_REGISTRATION                       object
REGISTERED_STATE                           object
AUTHORIZED_CAP                            float64
PAIDUP_CAPITAL                            float64
INDUSTRIAL_CLASS                           object
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN     object
REGISTERED_OFFICE_ADDRESS                  object
REGISTRAR_OF_COMPANIES                     object
EMAIL_ADDR                                 object
LATEST_YEAR_ANNUAL_RETURN                  object
LATEST_YEAR_FINANCIAL_STATEMENT            object
dtype: object
te"                                                                  object
Company limited by Shares                                            object
Non-govt company                                                     object
23-08-2013                                                           object
Gujarat                                                              object
400000.00                                                           float64
400000.00.1                                                         float64
74140                                                                 int64
Real estate renting and business activities                          object
SHOP NO-F F-32,SHIDDHI CHAKRAOPP. VISHAT PETROL PUMP SABARMATI       object
ROC AHMEDABAD                                                        object
rakeshmalviya036@gmail.com                                           object
NA                                                                   object
NA.1                                                                 object
dtype: object

In [ ]:
def clean_state_data(x):
  # Droping the duplicate row if any according to unique CIN number
 x.drop_duplicates(inplace=True)


 ## Filling missing values for object columns
 obj_coloum=x.select_dtypes(include='object').columns
 x[obj_coloum] = x[obj_coloum].replace(r'^\s*$', np.nan, regex=True)
 for col in obj_coloum:
  x[col].fillna("",inplace=True)

 ## Filling missing values for numeric columns
 Num_col=x.select_dtypes(include=['number']).columns
 for col in Num_col:
  x[col].fillna(x[col].median(),inplace=True)

 return x

df_maha_clean=clean_state_data(df_maharastra)
df_delhi_clean=clean_state_data(df_Delhi)
df_Gujrat_clean=clean_state_data(df_Gujrat)
df_Karnataka_clean=clean_state_data(df_Karanataka)
df_Tamilnadu_clean=clean_state_data(df_Tamil_Nadu)

/tmp/ipython-input-3329857824.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna("",inplace=True)
/tmp/ipython-input-3329857824.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna(x[col].median(),inplace=True)
/tmp/ipython-input-3329857824.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna("",inplace=True)
/tmp/ipython-input-3329857824.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna("",inplace=True)
/tmp/ipython-input-3329857824.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna(x[col].median(),inplace=True)
/tmp/ipython-input-3329857824.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna("",inplace=True)
/tmp/ipython-input-3329857824.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna(x[col].median(),inplace=True)
/tmp/ipython-input-3329857824.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna("",inplace=True)
/tmp/ipython-input-3329857824.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna(x[col].median(),inplace=True)

In [ ]:
print(df_Gujrat_clean.isnull().any())

te"                                                                 False
Company limited by Shares                                           False
Non-govt company                                                    False
23-08-2013                                                          False
Gujarat                                                             False
400000.00                                                           False
400000.00.1                                                         False
74140                                                               False
Real estate renting and business activities                         False
SHOP NO-F F-32,SHIDDHI CHAKRAOPP. VISHAT PETROL PUMP SABARMATI      False
ROC AHMEDABAD                                                       False
rakeshmalviya036@gmail.com                                          False
NA                                                                  False
NA.1                                                                False
STATE                                                               False
dtype: bool

In [ ]:
df_maha_clean['STATE'] = 'Maharashtra'
df_delhi_clean['STATE'] = 'Delhi'
df_Gujrat_clean['STATE'] = 'Gujarat'
df_Karnataka_clean['STATE'] = 'Karnataka'
df_Tamilnadu_clean['STATE'] = 'Tamil Nadu'

columns_master = [
    'CORPORATE_IDENTIFICATION_NUMBER', 'COMPANY_NAME', 'COMPANY_STATUS',
    'COMPANY_CLASS', 'COMPANY_CATEGORY', 'COMPANY_SUB_CATEGORY',
    'DATE_OF_REGISTRATION', 'REGISTERED_STATE', 'AUTHORIZED_CAP',
    'PAIDUP_CAPITAL', 'INDUSTRIAL_CLASS',
    'PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN', 'REGISTERED_OFFICE_ADDRESS',
    'REGISTRAR_OF_COMPANIES', 'EMAIL_ADDR', 'LATEST_YEAR_ANNUAL_RETURN',
    'LATEST_YEAR_FINANCIAL_STATEMENT', 'STATE'
]

master_df = pd.concat([df_maha_clean, df_delhi_clean, df_Gujrat_clean, df_Karnataka_clean, df_Tamilnadu_clean], ignore_index=True)

# Enforce column order
master_df = master_df[columns_master]

# Save to CSV
master_df=clean_state_data(master_df)
master_df.to_csv('/content/MCA-Insight-Engine/Data/Master Data/Master_Company_Data.csv', index=False)

/tmp/ipython-input-3329857824.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna("",inplace=True)
/tmp/ipython-input-3329857824.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x[col].fillna(x[col].median(),inplace=True)

In [ ]:
print(master_df.isnull().any())

CORPORATE_IDENTIFICATION_NUMBER           False
COMPANY_NAME                              False
COMPANY_STATUS                            False
COMPANY_CLASS                             False
COMPANY_CATEGORY                          False
COMPANY_SUB_CATEGORY                      False
DATE_OF_REGISTRATION                      False
REGISTERED_STATE                          False
AUTHORIZED_CAP                            False
PAIDUP_CAPITAL                            False
INDUSTRIAL_CLASS                          False
PRINCIPAL_BUSINESS_ACTIVITY_AS_PER_CIN    False
REGISTERED_OFFICE_ADDRESS                 False
REGISTRAR_OF_COMPANIES                    False
EMAIL_ADDR                                False
LATEST_YEAR_ANNUAL_RETURN                 False
LATEST_YEAR_FINANCIAL_STATEMENT           False
STATE                                     False
dtype: bool

In [ ]:
df_maha_clean.to_csv('/content/MCA-Insight-Engine/Data/Cleaned Data/Data_Gov_Maharashtra_clean.csv', index=False)
df_delhi_clean.to_csv('/content/MCA-Insight-Engine/Data/Cleaned Data/Data_Gov_Delhi_clean.csv', index=False)
df_Gujrat_clean.to_csv('/content/MCA-Insight-Engine/Data/Cleaned Data/Data_Gov_Gujarat_clean.csv', index=False)
df_Karnataka_clean.to_csv('/content/MCA-Insight-Engine/Data/Cleaned Data/Data_Gov_Karnataka_clean.csv', index=False)
df_Tamilnadu_clean.to_csv('/content/MCA-Insight-Engine/Data/Cleaned Data/Data_Gov_Tamil_Nadu_clean.csv', index=False)